<div class="header">
<nav class="navbar">
        <a class="navbar-brand" href="#"><img src="../../../assets/images/gk_logo_com.png" alt="Grocery Store" class="d-inline-block align-top" width ="175px"/></a>
        
      
                <ul class="nav justify-content-end">
                        <li class="nav-item">
                                <a routerLink="/account/register" class="border-right" routerLinkActive="active">Sign Up</a>
                        </li>
                        <li class="nav-item">
                                <a routerLink="/account/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Login</a>
                        </li>
                        
                      </ul>
      </nav>
    </div>