<div class="contentWrap">
  <div class="mainContent">
    <span class="msgArea">Forgot password</span>
    <div class="formWrap">
      <div class="formSection">
        <form (ngSubmit)="onForgotPasswordSubmit()" #f="ngForm">
          <div ngModelGroup="userId" #userId="ngModelGroup">
            <label for="userName">Email</label>
            <input
              type="text"
              name="email"
              ngModel
              required
              email
              #email="ngModel"
            />
            <span [hidden]="email.valid || email.untouched">
              Please enter valid email</span
            >

            <label for="userName">Name</label>
            <input
              type="text"
              name="userName"
              ngModel
              required
              #userName="ngModel"
            />
            <span [hidden]="userName.valid || userName.untouched">
              Please enter valid name</span
            >
          </div>
          <div class="sectionBtns">
            <div class="btnsWrap">
              <input
                type="submit"
                name="forgotPassword"
                id="forgotPassword"
                class="submit"
                [disabled]="!f.valid"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
