<form [formGroup]="addressForm">
  <div class="form-group">
    <label for="labelAddressLine1"> Address Line1</label>
    <input
      type="text"
      class="form-control"
      formControlName="addresLine1"
      id="addresLine1"
      (change)="addressLine1Change()"
    />
  </div>
  <div class="form-group">
    <label for="labelAddressLine1"> Address Line2</label>
    <input
      type="text"
      class="form-control"
      formControlName="addresLine2"
      id="addresLine2"
      (change)="addressLine2Change()"
    />
  </div>
  <div class="form-group">
    <label for="city"> City</label>
    <input
      type="text"
      class="form-control"
      formControlName="city"
      id="city"
      (change)="addressCityChange()"
    />
  </div>
  <div class="form-group">
    <label for="state"> State </label>
    <input
      type="state"
      class="form-control"
      formControlName="state"
      id="state"
      (change)="addressStateChange()"
    />
  </div>
  <div class="form-group">
    <label for="postalCode"> Postal Code </label>
    <input
      class="form-control"
      type="postalCode"
      formControlName="postalCode"
      id="postalCode"
      (change)="addressPostalCodeChange()"
    />
  </div>
</form>
