<div class="row">
  <div class="col-lg-2 col-sm-3">
    <p class="asideLabel"><strong>Shop Category</strong></p>
    <ul id="sideNavi">
      <li *ngFor="let category of categories; trackBy: trackbyCategoryFu">
        {{ category['productCategoryInfo']['categoryname'] }}
      </li>
    </ul>
  </div>
  <div class="col-lg-10 col-sm-9 col-xs-12">
    shop Categoryshop Categoryshop Categoryshop Categoryshop Categoryshop
    Categoryshop Categoryshop Categoryshop Categoryshop Categoryshop
    Categoryshop Categoryshop Categoryshop Categoryshop Categoryshop
    Categoryshop Categoryshop Categoryshop Categoryshop Categoryshop
    Categoryshop Categoryshop Categoryshop Categoryshop Categoryshop
    Categoryshop Categoryshop Categoryshop Categoryshop Categoryshop
    Categoryshop Categoryshop Categoryshop Categoryshop Categoryshop
    Categoryshop Category shop Categoryshop Categoryshop Categoryshop
    Categoryshop Categoryshop Categoryshop Categoryshop Categoryshop
    Categoryshop Categoryshop Categoryshop Categoryshop Categoryshop
    Categoryshop Category shop Categoryshop Categoryshop Categoryshop
    Categoryshop Categoryshop Categoryshop Categoryshop Categoryshop
    Categoryshop Categoryshop Category shop Categoryshop Categoryshop
    Categoryshop Categoryshop Categoryshop Categoryshop Categoryshop
    Categoryshop Categoryshop Categoryshop Category shop Categoryshop
    Categoryshop Categoryshop Categoryshop Categoryshop Categoryshop
    Categoryshop Categoryshop Categoryshop Categoryshop Categoryshop Category
    shop Categoryshop Categoryshop Categoryshop Categoryshop Categoryshop
    Categoryshop Categoryshop Categoryshop Categoryshop Categoryshop
    Categoryshop Category shop Categoryshop Categoryshop Categoryshop
    Categoryshop Categoryshop Categoryshop Categoryshop Categoryshop
    Categoryshop Categoryshop Category shop Categoryshop Categoryshop
    Categoryshop Categoryshop Categoryshop Categoryshop Categoryshop
    Categoryshop Categoryshop Categoryshop Category shop Categoryshop
    Categoryshop Categoryshop Categoryshop Categoryshop Categoryshop
    Categoryshop Categoryshop Categoryshop Categoryshop Categoryshop Category
    shop Categoryshop Categoryshop Categoryshop Categoryshop Categoryshop
    Categoryshop Categoryshop Categoryshop Categoryshop Categoryshop Category
    shop Categoryshop Categoryshop Categoryshop Categoryshop Categoryshop
    Categoryshop Categoryshop Category
  </div>
</div>
