<div class="row navWrap">
  <ul class="col-lg-4 col-sm-6 col-xs-12">
    <li><a href="">About Us</a></li>
    <li><a title="" href="">Contact Us</a></li>
    <li><a href="">Terms of Use</a></li>
  </ul>
  <ul class="col-lg-4 col-sm-6 col-xs-12">
    <li><a href="">Privacy Policy</a></li>
    <li><a title="" href="">FAQ Link</a></li>
    <li><a title="" href="">Customer Support</a></li>
  </ul>
  <ul class="col-lg-4 col-sm-6 col-xs-12">
    <li><a title="" href="">Shopping Demo</a></li>
    <li><a href="" title="">How it works</a></li>
  </ul>
</div>
<div class="row">
  <p class="copyrights">Copyright &copy; 2019 Grocery Store, All Rights Reserved.</p>
</div>
